.cards, .card {
    @include flex;
}
.cards__presentation {
    color: $colour-txt;
    font-size: 6.5rem;
    padding-bottom: 75px;
    text-align: center;
    transition: all 250ms;
    width: 100%;
    &:hover {
        cursor: default;
        color: darken($colour-primary, 25);
    }
    @media (max-width:992px) {
        font-size: 5rem;
    }
}
   
.card {
    background-color: transparent;
    cursor: pointer;
    height: 300px;
    margin: 1rem;
    perspective: 1000px;
    width: 360px;
    @media (max-width:992px) {
        height: 150px;
        width: 180px;
    }
    &__inner {
        height: 100%;
        position: relative;
        transition: transform 0.9s;
        transform-style: preserve-3d;
        width: 100%;
        &:hover {
            transform: rotateY(180deg);
            }
        }
    &__front, &__back {
    backface-visibility: hidden;
    border-radius: 3px;
    height: 100%;
    position: absolute;
    }
    &__img {
    border: 2px lighten($colour-secondary, 15) solid;
    border-radius: 3px;
    height: 100%;
    object-fit: cover;
    width: 100%;
    }
    &__back {
    background-image: url(../img/folk-pattern-black.png);
    color: #fff;
    padding: 2rem;
    transform: rotateY(180deg);
    }
    &__title {
    font-family: 'milkman', sans-serif;
    font-size: 3rem;
    margin-bottom: 15px;
    padding-bottom: 15px;
    text-align: center;
    word-spacing: 3px;
    @media (max-width:992px) {
        font-size: 2rem;
        margin-bottom: 5px;
        padding-bottom: 0px;
    }
    }
    &__text {
    font-size: 2rem;
    line-height: 2.4;
    opacity: 0.85;
    text-align: center;
    @media (max-width:992px) {
        font-size: 1.5rem;
        line-height: 1;
    }
    }
}