*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;

}

body {
    background-image: url(../img/triangle-mosaic.png);
    box-sizing: border-box;
    margin: 245px auto 145px auto;
    zoom: 0.7;
    //width: calc(100% - 80px);
    @media (max-width: 992px) {
        margin-bottom: 100px;
    }
    @media (max-width:576px) {
        margin-bottom: 75px;
    }
}